.tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* Encabezados */
.tabla thead {
    background-color: #f3f4f6;
    color: #374151;
    text-align: left;    
}

.tabla thead th {
    padding: 12px 16px;
    font-weight: 600;
    border-bottom: 1px solid #e5e7eb;
    background-color: #f3f4f6;
    white-space: normal;
    position: sticky;
    top:0px;
    white-space: normal;   
    text-align: center;
}

/* Filas */
.tabla tbody tr {
    transition: background-color 0.2s ease;
}

.tabla tbody tr:hover {
    background-color: #f9fafb;
}

/* Celdas */
.tabla td {
    padding: 12px 16px;   
    border-right: 1px solid #000;
    color: #4b5563;
}

/* Última fila sin borde inferior */
.tabla tbody tr:last-child td {
    border-bottom: none;
}

/*
.tabla tr td:last-child, tr th:last-child {
    border-right: none;
}*/

.tabla tr td:last-child,
.tabla tr th:last-child {
  border-right: none;
}

/* Celda activa */
.tabla td:focus {
    outline: 2px solid #2563eb;
    outline-offset: -2px;
}

.tabla tbody tr:nth-child(odd) {
    background-color: #ececec;
}

.tabla tbody tr:hover {
    background-color: #f1f5f9; 
}

@media (max-width: 768px) {
    .tabla th, .tabla td {
        padding: 10px 12px;
        font-size: 0.9rem;
    }
}
