ul {
  list-style-position: inside;
  padding-left: 0;   /* quita padding extra */
  margin-left: 0;    /* alinea con el contenedor */
}





.table-bonita {   
    width:100%;
    margin:0;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff8e1;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.table-bonita thead {
    background-color: #00264C; /* tu azul oscuro */
    color: #ffffff;
    /*font-weight: 600;    */
}

.table-bonita th,
.table-bonita td {
  padding: 5px 0;
  text-align: center;
}

.table-bonita tbody tr:nth-child(even) {
  background-color: #fff3d6; /* alternado más claro */
}

.table-bonita tbody tr:hover {
  background-color: #ffe08a; /* highlight */
  transition: background 0.2s ease;
}

.table-bonita td {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color:#FFC845 !important;   
  color:  #00264C !important;
}

.menu {
    color:#FFC845;
    background-color:  #00264C;
}

nav {
  background-color: #00264C;
  color: #FFC845;           
  padding: 1rem;
}

.navegacion a {
  color: #DADADA;           
  text-decoration: none;     
  font-weight: bold;
}

.navegacion a:hover {
  color: #fff;            
}

