
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex:1;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}