

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex:1;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.flex-md-column-dd-row {
    display: flex;
    flex-direction: column;
}

.w-100dvw {
    width: 100dvw;
}

.w-100pct {
    width: 100%;
}

.h-100dvh {
    height: 100dvh;
}

.h-100pct {
    height: 100%;
}

.solo-desktop {
    display: none;
}

.inset-map {
 /* position: absolute;
  bottom: 10px;  
  right: 10px;*/
  width: 300px;   
  height: 280px;
  border: 2px solid #333;
  z-index: 1000;
  background: white;
}



@media (min-width: 768px) {
    .flex-md-column-dd-row {
        flex-direction: row;
    }

    .solo-desktop {
        display: flex;
    }
}